---
import { baseUrl } from '@/utils/functions';
---

<section>
  {
    [...new Array(80)].map((_, i) => {
      return (
        <img
          class='img-poster'
          src={baseUrl(`/frames/f${i + 1}.avif`)}
          alt={`Image ${i}`}
        />
      );
    })
  }
</section>

<script>
  import gsap from 'gsap';
  gsap.fromTo(
    '.img-poster',
    {
      opacity: 0,
      scale: 0,
      duration: 3,
      stagger: {
        each: 0.2,
        grid: 'auto',
        from: 'center'
      }
    },
    {
      opacity: 1,
      scale: 1,
      duration: 3,
      stagger: {
        each: 0.2,
        grid: 'auto',
        from: 'center'
      }
    }
  );
</script>

<style>
  section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: #4a7d70;
    background-image: linear-gradient(
      90deg,
      #440154,
      #482475,
      #414487,
      #355f8d,
      #2a788e,
      #21908d,
      #22a884,
      #42be71,
      #7ad151,
      #bddf26,
      #bddf26
    );
  }

  .img-poster {
    flex-grow: 1;
    position: relative;
    min-width: 10vmax;
    height: 18vmax;
    object-fit: cover;
    object-position: center;
  }
</style>
